body{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px;
    background-image:url("boo.jpg") ;
    background-size: 100%;
}
.row div{
    padding: 40px;
    border: 2px solid rgba(226, 87, 133, 0.482);
    height: 50px;
    width: 50px;
    float: left;

}
button{
    margin: 5px;
    background-color: rgb(229, 225, 181);
    padding: 5px 10px;
    font-size: 15px;
    color: rgb(158, 145, 67);
    border-radius: 5px;
    border-color: rgb(183, 183, 86);
    
}